---
title: Nanobox Guides
layout: home
---

#header
  = partial 'nbg-logo-link'
  %h1 Learn how to use popular languages, frameworks, & services on Nanobox

#page-body
  .wrapper
    %input#project-search{ :placeholder => 'Search'}
    .category
      %h2 Languages
      .flex-container
        - data.projects.languages.each do |proj|
          = partial 'project-item', :locals => { 'proj' => proj }
    .category
      %h2 Frameworks
      .flex-container
        - data.projects.frameworks.each do |proj|
          = partial 'project-item', :locals => { 'proj' => proj }
    .category
      %h2 CMSs
      .flex-container
        - data.projects.cms.each do |proj|
          = partial 'project-item', :locals => { 'proj' => proj }
    .category
      %h2 Services
      .flex-container
        - data.projects.services.each do |proj|
          = partial 'project-item', :locals => { 'proj' => proj }
    #no-results
      = partial 'svgs/obiwan'
      %p
        These are not the guides you're looking for.
        %br
        %span.small But they can be! See how #{ link_to 'you can contrubute', '/contribute/'}.
= partial 'footer'
